body {
    margin: 0;
    padding: 0;
    background-image: url("assets/045ACD01-9618-4753-9A42-AE32A1E19382_L0_001-11_11_2025\,\ 20_30_24\ \(1\).jpg");
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255, 0.25);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;



}

.page {
    background: #fff;
    width: 420px;
    padding: 45px 25px;
    border-radius: 30px;
    margin: 80px auto;
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #b94141;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    color: white;

}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    margin-bottom: 18px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

fieldset {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
}

label {
    font-size: 14px;
    display: block;
    text-align: left;
    width: 80%;
    margin-left: 0;
}

.text-box {
    width: 100%;
    text-align: left;
    margin-left: 45px;
    margin-bottom: 20px;
}

